a {
    color: #ffffff;
}

canvas {
    width: 100%;
    height: 100%;
    border: 1px red solid;
}

#info {
    position: abslute;
    top: 0;
    
    width: 100%;
    padding: 5px;

    color:blue;
    font-family: monospace;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
